.comments-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 20px;
}
.comments-outer h2{
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ddd;
}

.comments{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.comment{
    display: flex;
    gap: 20px;
    width: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
.com-likes{
    width: 80px;    
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    gap: 10px;
    background-color: #ccc;
    padding: 4px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.com-likes span{
    font-size: 1.2em;
}
.btn-plus,.btn-minus{
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.8em;
    cursor: pointer;
}
.btn-minus{
    color: red;
}
.btn-plus{
    color: green;
}
.com-content{
    display: flex;
    flex-direction: column;
}
.com-nav{
    display: flex;
    justify-content: space-between;
    width: 320px;
    align-items: center;
}
.avatar{
    display: flex;
    gap: 10px;
    align-items: center;
}
.avatar span{
    font-size: 1.2em;
}
.avatar img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.reply{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;

}
.reply span{
    text-transform: capitalize;
    font-size: 1.2em;
    color: purple;
}
.content{
    margin-top: 10px;

}
.content p{
    font-size: 1.2em;
    padding: 10px;
}
.edit{
    display: flex;
    gap: 10px;
}
.btn-edit, .btn-delete{
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    gap: 2px;
    align-items: center ;
}
.btn-update{
    width: 120px;
    align-self: flex-end;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #425dd6;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .comments-outer{
        width: 100vw;
    }
    .comments{
        width: 100vw;
        align-items: center;
    }
    .comment{
        flex-direction: column-reverse;
        width: 300px;
    }
    .com-nav{
        width: 100%;
    }
    .com-likes{
        width: 120px;
        display: flex;
        flex-direction: row;
        height: 30px;
    }
}