.input-comment{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background-color: white;
    padding: 10px;
    width: 400px;
    border-radius: 8px;
    position: relative;
}
.textarea{
    resize: none;
    outline: none;
    padding: 10px;  
    border-radius: 8px;
    border: 1px solid grey;
    font-size: 1.5em;
}
.btn-send{
    background-color: #425dd6;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

@media (max-width: 768px) {
    .input-comment{
        width: 300px;
    }
    .textarea{
        width: 160px;
        height: 60px;
        font-size: 1.2em;
    }
}