.modal{
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.65);

}
.modal-inner{
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 120px;
    background-color: #ccc;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn-group-modal{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btn-group-modal button{
    width: 120px;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-group-modal button:first-child{
    background-color: red;
    color: #ddd;
}

@media (max-width:768px) {
    .modal{
        width: 100vw;
        height: 100vh;
        inset: 0;
        position: absolute;

    }
    .modal-inner{
        width: 280px;
    }
    .btn-group-modal button{
        width: 80px;
    }
}